html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 10px;
  overflow: hidden !important;
  font-family: "MozTT", sans-serif;
}

/******************************************************************************
 * Explanation texts
 */

.explanation {
  padding: 0.5rem 3rem;
  font-style: italic;
  font-size: 1.4rem;
  color: #505859;
}

.description {
  padding: 1rem 3rem;
  font-size: 1.5rem;
  white-space: normal;
}

.link-text, .tel-text {
  font-size: 1.2rem;
  color: #336699;
  text-decoration: underline;
}

/***/

button[data-geoloc] {
  width: 3.4rem;
  height: 3.4rem;
  padding: 0;
  margin: -1.7rem 3.4rem 0;
  font: 0/0 a;
  border: none;
  position: absolute;
  right: 0rem;
  top: 50%;
  background: url(icons/ic_menu_mylocation.png) no-repeat center center;
}

#journey-details-steps {
  /* 9rem comes from:
   *  - 5rem for 'top: 5rem' of the div
   *  - 4rem for 'height: 4rem' of the toolbar
   */
  height: calc(100% - 9rem);
}

a.journey,
li.journey,
li.journey li span {
  color: #eee;
}

a.journey:active,
li.journey:active,
li.journey li span:active {
  color: #333;
}

a.journey {
  font-size: 1.2rem;
}

li.journey li span {
  height: 3rem;
  line-height: 3rem;
  font-size: 1.2rem;
}

ul li.journey li {
  min-height: 3rem;
}

li.journey {
  background: url(icons/open.png) no-repeat -0.2rem 1.5rem transparent;
  list-style-type: none;
}

li.journey-details {
  background: url(icons/opened.png) no-repeat -0.2rem 1.5rem transparent;
}

li.journeypart p {
  font-size: 1.5rem;
  padding-left: 4rem;
  margin-top: -1rem;
}

li.journeypart {
  list-style-type: none;
}

li.journeymount {
  background-image: url(icons/stationin.png), url(icons/line.png);
  background-repeat: no-repeat, repeat-y;
  background-attachment: scroll, scroll;
  background-position: left top, left bottom;
}

li.journeyumount {
  background-image: url(icons/stationout.png), url(icons/line.png);
  background-repeat: no-repeat, repeat-y;
  background-attachment: scroll, scroll;
  background-position: left bottom, left top;
}

li.journeyconnection {
  background-image: url(icons/stationconnect.png);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: left center;
}

li.journeywalk {
  background-image: url(icons/walk.png);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: left center;
}

/* Base icons */
[role="toolbar"] .pack-icon-mark {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAG11AABzoAAA85kAAImUAAB+3gAA7PgAADObAAAQ5ap9ykMAAAEISURBVHja7JaxSgNREEXPihAIRkHRci1TCOJ/iIWVlb32gn6JfyAkkCpFOkHQzlYbm5BUlqKFEALH5qFbJHGjm12Rd+F28+4tZu7MS1SqwBIVIRqXhuUfvqsDTaABPAHPcyuo33FVPVdP1ZraVt/9wli9Uhs5tD6ZpygNBgN1zenozmNcZI8PgOOqhusS2KvCeAW4Bo4y2nVgo4w4rQMtoA/cAnfAW1FxyoM0cB8Ylb1AWkCvqB73w/TuAofAzZS6B+DkNwskm+Oaujmh5kwdZTJ9r27N0k1y3OMUGABDYHtG3U7o5xDoAONF7OpJeAyMZzEa//0fyAtwAbwWaZzEf3U0/nfGHwMAR/JD8ZrKeskAAAAASUVORK5CYII=);
}

[role="toolbar"] .pack-icon-share {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAG11AABzoAAA85kAAImUAAB+3gAA7PgAADObAAAQ5ap9ykMAAAF4SURBVHja7Ja5SsRQFIa/kVFBHBjFpRMFQRgcUBSxElyw8AVsBX0EbewFC8HKRhBE1BdQC0GnGewEncpKH8AFphCsJr+FNxBCYm6SWZr5IRBuDufjLDfnZCTRCnXQIrXBTVM25LwAXAP5mP4c4BTYjjLMBHR1N3AADCcIZNXA+5OA0+gSWLPJlLfGXXUA+6NYAHL/gQvAfgN6aA94AAbDwDcJa2qjInDvh7vgvgbfniJQ8sKzKZyNA+vANDBighgDeoFHYzPhsZ808CXgA0lIqkq6MO9RT4+kI0k1JdOVpNgR54A7YC5FppwkqT72QGvAC/DuOgvQrO9OV4Ctv4tnn+p5k6qqpB1JeYuylD0pfpY04H6LE/EG8Gp+i28hNofAIjDlO68AK8Bnkuk0EwEFGAJGo6Bxa3weAQ3SLvAEfNuOxbDGiqtyPRaBn0ZtIE3dRtx5/AV0ArcBo83al2kiq3+/W+MTYBNYThmIA5zFibi93rbBddfvAA7eCHdE+L6kAAAAAElFTkSuQmCC);
}

#alarm-status {
  visibility: hidden;
}
