/* ----------------------------------
 * Buttons
 * ---------------------------------- */

a[role="select"]::-moz-focus-inner,
select::-moz-focus-inner {
  border: none;
  outline: none;
}

select,
a[role="select"] {
  width: 100%;
  height: 3.8rem;
  margin: 0 0 1rem;
  padding: 0.9rem 1.5rem;
  -moz-box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  background: #fafafa url(/shared/style/buttons/images/ui/default.png) repeat-x left bottom;
  border: 0.1rem solid #9f9f9f;
  border-radius: 0.3rem;
  font: 400 1.6rem/3.8rem 'MozTT', Sans-serif;
  color: #333;
  text-align: center;
  text-shadow: 0.1rem 0.1rem 0 rgba(255,255,255,0.3);
  text-decoration: none;
  outline: none;
}

/* Press (default & recommend) */
select:active,
a[role="select"]:active,
select.recommend:active,
a.recommend[role="select"]:active  {
  border-color: #008aaa;
  background: #008aaa;
  color: #333;
}
